body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

label {
    font-family: 'Arial', sans-serif;
    display: inline-block; /* Garder les étiquettes sur la même ligne que les champs de formulaire */
    width: calc(100% - 30px); /* Réduire la largeur de 30px pour compenser la marge et le padding */
    margin: 5px 5px 5px; /* Appliquer une marge horizontale de 15px, une marge supérieure de 10px et une marge inférieure de 5px */
}


h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="submit"],
select {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}


input[type="date"]{
    width: auto;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

select {
    width: auto;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#333333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
}


p {
    text-align: center;
    margin-top: 20px;
    color: #666666;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

/* Ajout d'une animation de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    max-width: 500px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 5s ease; /* Animation lors du chargement de la page */
}

.container2 {
    /*max-width: 500px;*/
    padding: 5px;
    /*background-color: #ffffff;
    border-radius: 10px;*/
    animation: fadeIn 0.5s ease; /* Animation lors du chargement de la page */
}