/* SECTION BLOCK */
body {
	font-family: "Rajdhani", sans-serif;
}
.block {
	border-radius: 12px;
}
.section-summary {
    padding: 15px 0 100px;
}
.section-light {
	background-color: #615dfa;
	color: white;
}
.section-light-secondary {
	background-color: #6532ac;
	color: white;
}

/* form */
form p {
    position: relative;
}
form input[type="text"],
form input[type="email"],
form select,
form input[type="number"],
form input[type="password"],
form input[type="submit"],
form button[type="submit"] {
	width: 100%;
	height: 48px;
	padding: 0 18px;
	border-radius: 12px;
	font-size: 1rem;
	font-weight: 700;
}

form button[type="submit"] {
	border-color: transparent;
	transition: background-color 0.2s ease-in-out;
}

/*label*/
label {
	display: inline-block;
	margin-bottom: 3px;
}

form label {
	color: #adafca;
	font-weight: 600;
	line-height: 1em;
	position: absolute;
	z-index: 2;
    background: #f8f8fb;
	padding: 3px 6px;
	border-radius: 6px;
	font-size: 0.75rem;
	top: -6px;
	left: 28px;
	
}

/* BTN */
.btn {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	text-transform: uppercase;
	white-space: normal;
	word-wrap: break-word;
}

.btn-mdb-color {
	background-color: #59698d !important;
	color: #fff !important;
}

/* NAV bar */
.header-color {
    background-color: #615dfa;
    color: white;
}
.navbar {
    font-size: 18px;
    font-weight: 700;
}
.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: rgba(255,255,255,.1);
}

/* TITRE header  */
h1, h2, h3, h4, h5, h6, a, p {
    color: #3e3f5e;
    line-height: 1em;
}

.slt {
	border-color: transparent;
	transition: background-color 0.2s ease-in-out;
}

.contenuProfile{
	margin: auto;
	width: 70%;
	background-color: gainsboro;
	
}

.contenuArticle{
	margin: auto;
	width: 70%;
	background-color: gainsboro;
}

.image-circulaire {
	margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	transform: translate(0%, -50%);
}
